<!DOCTYPE HTML>
<html>
<head> 
     <meta charset="utf-8">
     <title>审核特定流程</title>
	 <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>	
	    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	 <style type='text/css'>
#header .header-body{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(http://lingnan.sysu.edu.cn/profiles/custom/sysu/modules/sysu_manage/images/lingnan/header-bg.png);
    background-size: cover;
    min-height: 158px;
    max-width: 9000px;
    padding: 0px;
}
</style>

     <script>
     		function checkspecificmaterial(id)
     		{
     			var material_id=document.getElementById("material_id");
     			material_id.value=id;
     			var form1=document.form1;
     			form1.submit();
     		}
		 </script>
</head>



<body>

<div id="header" class="header-bg-primary">
	<div class="header-body">
      <div class="header-container header-top inner ">
        <div class="header-row">
          <!-- logo -->
		  
          <div class="header-column">
            <div id="site-logo" class="header-logo">
              <a href="/"><img src="http://lingnan.sysu.edu.cn/sites/lingnan.prod.dpweb3.sysu.edu.cn/files/logo_1_0.png"/></a>
            </div>
          </div>
          
	  </div>
	</div>
	</div>
</div>

<div class="col-md-3" >
		<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-list">

				<li class="active">
					<a href="/my_app/applypage/">申请教室</a>
				</li>
			
				
				<li>
					 <a href="/my_app/managestu/">返回主页</a>
				</li>
				
				<li>
				<a href="/reward/materialpage/">回到院级奖学金主页</a>
				</li>


				<li>
					<a href="/reward/materialpage/checktask/">回到审核流程主页</a>
				</li>
				
				<li class="active">
					<a href="/my_app/login/">登出</a>
				</li>
				
				<li class="divider">
				</li>
			</ul>
		</div>
	</div>
	</div>
	</div>
	
	
	
	<div class="col-md-3" >
	<div class="span4">
	<table class="table table-bordered">
	<thead>
	<tr>
       <th>加分项编号</th>
       <th>说明</th>
       <th>申请加的绩点</th>
       <th>申请加的公益时</th>
       <th>操作</th>
    </tr>
	</head>
    {% for material in materiallist %}
    <tr>
    	 <td>{{ forloop.counter }}</td>
    	 <td>{{material.description}}</td>
    	 <td>{{material.extrascore}}</td>
    	 <td>{{material.extrapublic}}</td>
    	 <td><input type="button" id="{{material.materialid}}" value="进入修改" onclick="checkspecificmaterial(this.id)"></td>
    </tr>
    {% endfor %}
  </table>
  </div>
  </div>
	<form action="/reward/materialpage/checkspecificmaterial/" name="form1">
   	 <input type="hidden" name="material_id" id="material_id" value="0">
   	 <input type="hidden" name="user" id="user" value="{{user.uname}}">
   </form>
</body>
</html>