<!DOCTYPE HTML>
<html>
<head> 
     <meta charset="utf-8">
     <title>审核材料</title>
     <script>
		    function submitform()
		    {
		    	var reg = new RegExp("^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$");//<!-- /^\d+(\.\d+)?$/  浮点数表达式-->
		    	if(!reg.test(document.getElementById("score").value)&&(document.getElementById("score").value!="0"))
		    	{
		    		alert("绩点输入不合要求");
		    		return;
		    	}
		    	reg =new RegExp("[0-9]+")
		    	if(!reg.test(document.getElementById("public").value))
		    	{
		    		alert("公益时输入不合要求");
		    		return;
		    	}
		    	form1=document.form1;
		    	form1.submit();
		    }
		 </script>
</head>
<body>
	<form action="/reward/materialpage/savecheck/" id="form1" method="POST" name="form1" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="hidden" value="{{materialid}}" id="materialid" name="materialid">
		<input type="hidden" value="{{user.uname}}" id="name" name="name">
		<input type="button" id="button_exist" value="保存" onclick="submitform()" /><br>
		<a href="/reward/materialpage/checkspecifictask/?username={{user.uname}}">返回审查其他加分项</a><br>
		该材料加绩点：<input type="text" name="score" id="score" value="{{material.extrascore}}" /><br>
		该材料加公益时：<input type="text" name="public" id="public" value="{{material.extrapublic}}" /><br>
		如果你认为该材料不合格，就把绩点和公益时都填为0<br>
		该材料的描述：<input type="text" name="description" id="description" style="width:300px; height:60px;" value="{{material.description}}" diabled/><br>
		改材料附带的图片：
		<div id="div_exist_parent" name="div_exist_parent"><!--用来展示已有的图片--><!--这里的pic文件名都是带后缀的-->
			 {% for pic in piclist %}
			    <div id="div_exist{{pic}}" name="div_exist{{pic}}">
			    	<img src="/reward/pic/{{user.uname}}/{{materialid}}/{{pic}}" id="show" width="200" id="src_exist{{pic}}" name="src_exist{{pic}}" >
			    </div>
			 {% endfor %}
	  </div>
	  历史审核意见：<textarea name="opinion" id="opinion" rows="10" cols="60"/>{{opinioncontent}}</textarea><br><!--这里有爆的风险-->
	  我的意见：<input type="text" name="myopinion" id="myopinion" style="width:500px; height:80px;"/>
  </form>
  <script>
  	var text=document.getElementById("description");
  	text.disabled=true;
  	text=document.getElementById("opinion");
  	text.disabled=true;
  </script>
</body>
</html>